
   
    
        /**************************************************Start of CSS style sheet***************************************************************/
        
        html, body{margin: 0; padding: 0;} /*gets rid of browser default borders*/

        body {
            text-align: center;
            align-content: center;
        }

        /*background color*/
        .backgroundGrad {
        background-color: #1f1c26; 
        }

        hr { /*divider*/
            border-color: #9e939b;
        }

        /*general text color*/
        .wholeFont {
            font-family: arial, helvetica, sans-serif;
            color: #9e939b; /*background color font*/
        }

       /*search box at top*/
       .searchBox {
           float: right;
           padding: 8px 14px; /*top/bottom padding and left/right padding*/
       }

       /*search box at bottom*/
       .searchBoxBottom {
           position: relative;
           float: right;
           top: 70px;
           padding: 8px 14px; /*top/bottom padding and left/right padding*/
       }

       input#search{
        width: 130px;
        height: 22px;
        background: #2b303b;
        border: hidden;
        text-align: start;
        color: #63717f;
        border-radius: 3px; /*rounds the corners*/
       }
       .searchBox.placeholder {
           font-family: Arial;
       }

       /*the navigation bar*/
       .navigation, ul {
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #343042;
            width: 90%;
            border-radius: 15px;
          
        }
        li {
            display: inline-block; /*puts bar in the center*/
            font-variant: small-caps;
            font-weight:400;
        }

        li a {
            display: block;
            color: white;
            text-align: center; 
            padding: 14px 16px;
            text-decoration: none;
        }

        li 
        a:hover:not(.active) {
            background-color: #45d3fa;
        }
        .active {
            background-color: #bb4bcc;
            /*purple color store: #bb4bcc*/
        }
        a:hover.active {
            background-color: #45d3fa; /*puts hover color over the active one too*/
        }

         /*header tags aka the bar at the top*/
        .headerBar {
            background-color: #2f3949;
            color: #45d3fa;
            text-align: center;
            width: 100%;
            height: 10%;
            font-variant: small-caps;
            font-size: smaller;
            font-weight: 300;
            float: left;
            cursor: default;
            margin: 0;
            padding: 0;
        }
        /*title*/
        .title {
            /**font-variant: small-caps;*/
            font-family: 'Voltaire', 'Charlemagne Std', Garamond, Arial, 'Times New Roman';
            color: #45d3fa;
            font-size: 2.8vw;
            font-weight: lighter;
            text-shadow: -5px 0px 0px #bb4bcc;
            /** text-shadow: 
                 5px    -5px   0px white, 
                -5px  -5px  0px white, 
                -5px   5px  0px white, 
                 5px    5px   0px white; /*shadow around the text*/
            /**0 0  80px #28d1ff, 
                0 0  80px #28d1ff, 
                0 0  80px #28d1ff, 
                0 0  80px #28d1ff; */
            text-transform: capitalize;
            background-image: url(''); /*Unused broken background image. Needs resizing*/
            background-position: center;
            border: hidden;
            letter-spacing: 1px;
            z-index: 0; /*positions this above divs*/
            position: relative;

        } 

        h1 {
            bottom: 20px;
            left: 100px;}

        /*making title hyperlink and not change color*/
        .titleLink {
         color: inherit;
         text-decoration: none;
        }
            .titleLink:hover {
                color: inherit;
                text-decoration: none;
           }

        /*hyperlink color*/
        a { 
            color: pink; 
             text-decoration: none; /*not underlined*/

        } 

            
       

        /*Box as background CENTERBOX #5e5f6b; #d7d2db; #9e8fa8;*/
        .centerBox {
            background-color: #ece8ef; 
            display: block;
            height: auto;
            width: 75%;
            border-radius: 2px;
            border: solid;
            border-color: #a7a88f;
            color: #222023; /*text color*/
            line-height: 21px;  /*line spacing*/
            font-family: arial,helvetica,sans-serif;
            font-size: 15px;    /*makes font thinner*/
           
        }

        /*Text container*/
        .textBox {
         
        display:block;
        width: 70%;
        padding:30px;
        border:3px dashed #a7a88f;
        height:auto;
        border-width: 5px;
        background-color: white;
                }
    

        /*footer*/
        .footer {
            width: auto;
            height: auto;
            background: #0c0d16;
            
          
        }

       /*overridding the navigation bar to make footer box design*/
        .footer ul {
            border-radius: 1px;
            background-color: transparent;
            width: 100%;
            margin: 0;
            padding: 0;
           
        }

       .footer li {
           
       }
       

       /*logo*/
       .logo {
            position: absolute;
            left: 18%;
       
       }

        .footerButton {
            background-color: #2f3949;
            border-radius: 1px;
        }

       /*donate button*/
        .redDonate {
            background-color: indianred;
            border-radius: 1px;
        }

           .backToTopBtn {
               width: 50%;
               font-variant-caps:small-caps;
               background-color: #2f3949;
               border-radius: 3px;
               position: relative;  /*can't expand width wise?*/
               top: -8px;   /*moves button down*/
               color: inherit;
               text-decoration: none;
               padding: 2px;
                         }
    
       
       /*giving an arrow cursor when hovering over text*/
       .tips {
           cursor: default;
       }

       .searchWordSpace {
           word-spacing: 40px;

       }

       .copyright {
           width: 50%;
       }

    .characterImage {
    max-width: 100%;
    height: auto;
    border: solid;
    border-color: chocolate;
    }

    .conceptImage {
    display: inline-block;
    border: 3px solid purple;
    height: 500px;
    width: inherit;
    }

    /* highlight color***
::selection { 
    background: #a8d1ff;
    background-color: #a8d1ff;
    color: black;
}
  */

-webkit-user-select: {
    background: #a8d1ff;
    background-color: #a8d1ff;
    color: black;
}
-moz-user-select: {
    background: #a8d1ff;
    background-color: #a8d1ff;
    color: black;
}
-ms-user-select: {
    background: #a8d1ff;
    background-color: #45d3fa;
    color: black;
}

        /**.topColorBox {
            background: #253148;
            height: 24%;
            width: 100%;
            position: absolute;
            top: 8%;
            z-index: -10;
        }

        /**.titleUnderline {
            background-color: #45d3fa;
            width: 40%;
            height: 0.5%;
            position: absolute;
            left: 30%;
            top: 28%;
            border-radius: 1px;
        } */


   

